@media screen and (min-width:700px) and (max-width:901px){
.card-detail h1,
.card-detail2 h1 {
    font-size: 35px;
    line-height: 40px;
}

.card-detail p,
.card-detail2 p {
    font-size: 20px;
    font-weight: 400;
}

.cards .card-img{
    text-align: center;
    margin-right: 20px;
}

.cards img {
    width: 100%;
}
.mail-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail-box button {
    margin-top: 15px;
}

.container .logo {
    margin-top: 10px;
    width: 130px;
}

.footer p {
    text-align: center;
    font-size: 15px;
}

}


@media screen and (min-width:530px) and (max-width:700px) {
    .cardsOdd {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .cardsEven {
        display: flex;
        flex-direction: column-reverse;
    }

    .card-detail,
    .card-detail2 {
        text-align: center;
        position: relative;
        width: 100%;
    }







