body {
    padding: 0;
    margin: 0;
    color: white;
    background-color: black;
    font-family: 'poppins', cursive;
}
.marquee {
    background-color: #f3bbbb;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: medium;
    letter-spacing: 3px;
    font-weight: 900;
    color: #000;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .9) 0, transparent 60%, rgba(0, 0, 0, .9)), url(img/background.jpg);
    background-position: center;
    background-size: cover;
}
.container nav {
    display: flex;
    padding: 25px 50px;
    justify-content: space-between;
}

.container .logo {
    width: 140px;
}

.container .logo img {
    width: 100%;
}

.container nav .sign-in {

    background-color: #e50914;

    padding: 5px 15px;

    border-radius: 6px;

    color: #fff;

    font-weight: 500;

    font-size: 16px;

    cursor: pointer;

}


.container nav .lang {

    padding: 0;

    border-radius: 3px;

    border: 1px solid #fff;

    margin: 10px 20px 0px 0px;

    background: rgba(0, 0, 0, .9);

    box-sizing: border-box;

    position: relative;

}

.container nav .lang select {

    color: #fff;

    text-align: center;

    background: rgba(0, 0, 0, .9);

    padding: 7px 10px;

    border-radius: 3px;

    border: none;

    font-weight: 700;

}



.container nav .lang select option {

    background-color: rgba(245, 224, 224, 0.4);

    font-weight: 700;

    color: #fff;

    border-radius: 3px;

}

.content {

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    color: rgb(255, 255, 255);

    width: 100%;

    height: auto;

}



.content h1 {

    font-style: normal;

    font-size: 48px;

    font-weight: bold;

    line-height: 45px;

    margin-top: 30px;

}

.content h3 {

    font-size: 25px;

    font-family: 'Montserrat', sans-serif;

    font-weight: bold;

}

.content p {

    font-size: 15px;

    letter-spacing: 0.5px;

    margin: 15px 0px;

}

.mail-box {

    text-align: center;

    justify-content: center;

    display: flex;

    align-items: center;

        }

.mail-box input {

    border-bottom-right-radius: 0;

    border-top-right-radius: 0;

    height: 60px;

    width: 500px;

    min-width: 450px;

    border: none;

    outline: none;

}

.mail-box input::placeholder {

    font-size: 15px;

    padding-left: 10px;

    font-weight: 600;

    font-family: 'Montserrat', sans-serif;

}
.mail-box button {
    background: #FF0000;
    color: white;
    height: 62px;
    width: 200px;
    border: none;
    margin-left: 2px;
    font-size: 19px;
    cursor: pointer;
    border: none;
}

/* Design Cards  */

.cards {
    width: 100%;
    margin-top: 8px;
    height: auto;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 45%;
}

.cards .card-img {
    flex: 1;
    text-align: right;
}

.cards img {
    width: 80%;
    border: 0;
    height: auto;
    max-width: 100%;
    margin: 0px 40px 25px 0px;
}
.card-detail {
    flex-basis: 45%;
    padding-left: 75px;
}

.card-detail h1 {
    font-size: 48px;
    line-height: 25px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.card-detail p {
    font-size: 25px;
    font-weight: 400;
}

/* Card 2  */

.img2 {
    flex-basis: 45%;
}

.img2 img {
    text-align: left;
    width: 100%;
}

.card-detail2 {
    flex: 1;
    padding: 5px 10px 0px 35px;
}

.card-detail2 h1 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.card-detail2 p {
    font-size: 25px;
    font-weight: 400;
}

.img3,
.img4 {
    padding: 50px 15px 20px;
}

/* Design FAQ Section */

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hr-line {
    width: 60%;
    margin: auto;

}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body {
    margin: auto;
    width: 50%;
    padding: auto;

}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/* Now css for frequently asked questions */
.containers {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }